<!-- Nous étendons le template principal-->
{% extends "dashboard.html" %}
{% block title %}Capsule Corp{% endblock %}

{% block content %}
{% load static %}
<div class="container">
  <div class="row mt-4">
    <!-- Section 1 (Card) : Images, serial, type, status, last update-->
    <div class="col-md-6 col-sm-12">
      <div class="card mr-auto overflow-hidden" style="max-width: 390px">
        <img src="{% static '/assets/capsule.jpg'%}" style="max-height: 250px;"/>
        <div style="margin-top: -70px; margin-left: 15px; display: flex; align-items: flex-end;">
          <div>
            <div class="card mr-auto" style="height:170px; width:130px; margin-right: 20px;">
              <img src="{% static '/assets/cap.png' %}" class="my-auto" />
            </div>
            <p class="mx-auto my-2" style="color: #7ec8e3;">{{ data.type }}</p>
          </div>
          <div style="padding-bottom: 40px">
            <h2 class="text-right">{{ data.serial }}</h2>
            <p class="mx-auto my-2 {{ data.status }} px-4 fw-semibold" style="border-radius: 5px;">{{ data.status }}</p>
          </div>
        </div>
        <p class="mx-auto my-1 mb-4 text-center">{{ data.last_update }}</p>
      </div>
    </div>

    <!-- Section 2 : reuse_count, land_water, land_landing -->
    <div class="col-md-6 col-sm-12 my-d-0 my-6 ">
      <div>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="d-flex align-items-center">
            <img src="{% static 'assets/recycle.png' %}" width="80px" height="80px" />
            <div class="mx-4 fs-3">Reuse</div>
          </div>
          <h2 class="mx-4" style="color: #000;">{% if data.reuse_count > 0 %}x{% endif %}{{data.reuse_count}}</div>
        </h2>
        <div class="d-flex align-items-center justify-content-between my-4">
          <div class="d-flex align-items-center">
            <img src="{% static 'assets/wave.png' %}" width="80px" height="80px" />
            <div class="mx-4 fs-3">Water landings</div>
          </div>
          <h2 class="mx-4" style="color: #000;">{% if data.water_landings > 0 %}x{% endif %}{{data.water_landings}}
          </h2>
        </div>
        <div class="d-flex align-items-center justify-content-between my-4">
          <div class="d-flex align-items-center">
            <img src="{% static 'assets/land.png' %}" width="80px" height="80px" />
            <div class="mx-4 fs-3">Land landings</div>
          </div>
          <h2 class="mx-4" style="color: #000; font-weight: 900;">{% if data.land_landings > 0 %}x{% endif %}{{data.land_landings}}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}