<!-- Nous étendons le template principal-->
{% extends "dashboard.html" %}
{% block title %}Capsule Corp{% endblock %}

{% block content %}
{% load static %}
<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0 d-flex align-items-center justify-content-between">
        <h6>Liste des Capsules</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center justify-content-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Numéro de Série</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Statut</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
              </tr>
            </thead>
            <tbody>
              <!-- Contenue principal - Inflation du tableau par les donnés envoyés par la 'view' -->
              {% for entry in entries %}
              <tr>
                  <td>
                    <div class="d-flex px-2">
                      
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">{{ entry.serial}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">
                      {{  entry.type }}
                    </p>
                  </td>
                  <td>
                    <p class="text-sm font-weight-bold mb-0">
                      {{  entry.status }}
                    </p>
                  </td>
                  <td class="align-middle">
                    <div class="dropdown">
                      <a href="capsule/{{ entry.id }}"  class="btn btn-link" >Voir plus</a>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
